In [0]:
select count(*) from employees where email is NOT NULL

In [0]:
select department,count(*) from employees group by department having count(*) < 9

In [0]:
select sum(salary) from employees;

In [0]:
select avg(salary) from employees where department = 'HR';

In [0]:
SELECT first_Name, Salary, RANK() OVER (ORDER BY Salary DESC) AS Rank  
FROM Employees;
describe employees;

In [0]:
select * from employees where first_name like "A%";

In [0]:
select * from employees where last_name like "S%";

In [0]:
select * from employees where email like "%com";

In [0]:
select * from employees where department ='HR' or department = 'Sales'

In [0]:
--List the number of department of employees in each project.
select department,count(emp_id) as employeee from employees group by department;

In [0]:
--select the name of the employee whose name's 3rd charactor is 'h'.
select * from employees where first_name like '__h%';

In [0]:
--Select the department name of the company which is assigned to the employee whose employee id is grater 10.
select first_name from employees where department in (select department from employees where emp_id > 10)